<div id="carousel" class="carousel slide">
  <div class="carousel-indicators">
    <img
      src="https://m.media-amazon.com/images/I/712K7hsYLZL._AC_SX679_.jpg"
      data-bs-target="#carousel"
      data-bs-slide-to="0"
      class="active h-75 indicator"
      aria-current="true"
      aria-label="Slide 1"
    />
    <img
      src="https://m.media-amazon.com/images/I/71fntdR1T6L._AC_SX679_.jpg"
      class="h-75 indicator"
      data-bs-target="#carousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    />
    <img
      src="https://m.media-amazon.com/images/I/71KMMBpLS0L._AC_SL1500_.jpg"
      class="h-75 indicator"
      data-bs-target="#carousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    />
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://m.media-amazon.com/images/I/712K7hsYLZL._AC_SX679_.jpg"
        class="d-block w-100 rounded"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://m.media-amazon.com/images/I/71fntdR1T6L._AC_SX679_.jpg"
        class="d-block w-100 rounded"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://m.media-amazon.com/images/I/71KMMBpLS0L._AC_SL1500_.jpg"
        class="d-block w-100 rounded"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
