<h4>Bonnlo Linen Beige Mid Century Modern Accent Chair</h4>
<div>
  <span><i class="fa-solid fa-star checked"></i></span>
  <span><i class="fa-solid fa-star checked"></i></span>
  <span><i class="fa-solid fa-star checked"></i></span>
  <span><i class="fa-solid fa-star checked"></i></span>
  <span><i class="fa-solid fa-star"></i></span>
  <small class="text-muted ms-3">100 review</small>
</div>
<table class="table mt-2">
  <thead></thead>
  <tbody>
    <tr>
      <td>Brand</td>
      <td>Bonnlo</td>
    </tr>
    <tr>
      <td>Color</td>
      <td>Coarse Linen-beige</td>
    </tr>
    <tr>
      <td>Special Feature</td>
      <td>oak solid wood frame, free backrest pillow</td>
    </tr>
  </tbody>
</table>
<div>
  <p class="fw-bold">
    <i class="fa-solid fa-magnifying-glass"></i> Detailed Info
  </p>
  <ul class="text-muted">
    <li class="mb-3">
      <span class="fw-bold">Laziness Design:</span>
      Featured legs with the height of 16.1", our accent chair is not too low to
      the ground but still closer than regular chairs. You could lazily seat on
      it watching movie on laptop, or comfortably enjoy your morning coffee&a
      book by using it as a very nice spot.
    </li>
    <li class="mb-3">
      <span class="fw-bold">Sturdy for Gaming:</span> Although it doesn't look
      like a typical gaming chair, it is low and sturdy enough for gamers to
      play e-games. What's more, our armchairs will never take up too much
      living space, could be flexibily placed near the sofa, fireside, balcony,
      study room etc no matter for big house or condo living.
    </li>
    <li class="mb-3">
      <span class="fw-bold">Ideal Guest Seating: </span> Its thick padded
      cushion, soft upholster, solid wooden structure make it an ideal extra
      seating for guests in a wide range of age, varying from teens to the
      elder. The slightly back reclining design of its wooden arms are human
      egonomic for resting as well.
    </li>
    <li class="mb-3">
      <span class="fw-bold">Eassy Assembly:</span> With its simple construction
      and its installation illustration, it wouldn't take many steps to get this
      modern accent chair assembled. Should you receive our product with any
      flaws or damages, we encourage you to take pictures to us for a kind
      checking, and please always remember to keep its original packages
      ensuring any return demands. We will try our best to resolve any issues
      you encounter.
    </li>
  </ul>
</div>
